body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0 auto;
  margin-top: 50px;
  font-size: 6.63rem;
  color: #66BFBF;
  font-weight: bolder;
  line-height: 2;
  font-family: 'Sacramento', cursive;
}


h2 {
  margin-top: 0;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Montserrat',sans-serif;
}

h3 {
  color: #11999E;

}

a {
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.topmostbox {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.first-cloud {
  position: absolute;
  right:300px;
  top:50px;
}

.second-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.atul {
  border-radius: 100%;
  margin-bottom: 30px;
}

.devImg {
  width: 25%;
  float: left;
  margin-right: 50px;
}

.hot-chilli {
  width: 25%;
  float: right;
  margin-left: 50px;
}

 .skill-row1 {
   width: 50%;
   margin: 100px auto;
   text-align: left;
 }

 .skill-row2 {
   width: 50%;
   margin: 150px auto;
   text-align: left;
 }

 p {
   line-height: 2;
   font-weight: bold;
   color: #40514E
 }

 hr {
   border-style: none;
   border-top-style: dotted;
   color: #EAF6F6;
   border-width: 8px;
   width: 5%;
 }
 .profile {
   margin: 100px auto;
 }

 .skills {
   margin: 100px auto;
 }

 .contact-me {
   margin: 100px auto;
 }



.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  margin:10px 20px;
  font-family: 'Montserrat',sans-serif;
  color: #11999E;
  text-decoration: none;
}
a:hover {
  background: #EAF6F6;
}

.contact-para
{
  width: 30%;
  margin: 50px auto;
}

.btn {
  margin: 50px auto;
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #11999E);
  background-image: -moz-linear-gradient(top, #11999E, #11999E);
  background-image: -ms-linear-gradient(top, #11999E, #11999E);
  background-image: -o-linear-gradient(top, #11999E, #11999E);
  background-image: linear-gradient(to bottom, #11999E, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #11999E 0px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/* .chilli-para {
  clear: right;
} */

 /* .bottombox {

 } */
